@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tilt+Warp&display=swap');
body {
    background-color: rgb(248, 248, 244);
    font-family: 'Rubik', sans-serif;
    font-size: 14px;
    color: black;
}
nav {
    height: 70px;
    background: rgb(255, 255, 244);
    margin-top: -10px;
    margin-left: -20px;
    margin-right: -8px;
}
.container {
    margin-top: -40px;
    margin-left: 10%;
    margin-right: 100px;
    display: inline-flex;
}
.logo {
    width: 150px;
}
nav ul {
    margin-left: 540px;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav a {
    color: rgb(0, 0, 0);
    text-decoration: none;
}
nav li {
    font-weight: 900;
    font-size: 16px;
    padding-left: 40px;
}
  
nav a:hover {
    transition: 0.4s;
    color: #0069FF;
}
.icon {
    border-radius: 50%;
    border: 1px solid rgb(255, 230, 230);
    cursor: pointer;
    margin-left: 20px;
}
.menu-logo {
    width: 25px;
    cursor: pointer;
    display: none;
}
  
#ul {
    display: flex;
}
  
#menu-ul {
    display: none;
    flex-direction: column;
    list-style-type: none;
    background-color: rgb(255, 255, 244);
    position: absolute;
    top: 70px;
    left: 0;
    right: 0;
}

#menu-ul li {
    padding: 20px;
    border-top: 1px solid rgb(0, 0, 0, 0.1);
}

#menu-ul {
    position: absolute;
    top: 50px;
    right: 0;
    width: 100%;
    background-color: #fff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 20px;
    animation-duration: 0.5s;
    animation-timing-function: ease-out;
}
  
.slide-in {
    animation-name: slide-in;
}
  
@keyframes slide-in {
    from {
      opacity: 0;
      transform: translateY(-20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
}

#menu {
    display: none;
}

.header {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 70px !important;
}
#title {
    color: rgb(22, 22, 22);
    text-align: center;
    font-size: 40px;
    font-weight: 400;
    display: inline;
    vertical-align: middle;
    font-family: 'Tilt Warp', cursive;
    letter-spacing: 2px;
}
.header button{
    padding: 10px;
    font-weight: 900;
    background-color: #4894FF;
    margin-left: 10px;
    vertical-align: bottom;
    border: none;
    cursor: pointer;
    font-size: 15px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    font-family: 'Montserrat', sans-serif;
    border-radius: 4px;
    color: white;
}
.header button:hover {
    background-color: #0069FF;
}
#cre {
    padding: 10px;
    width: 280px;
    border-radius: 30px;
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 16px;
    border: none;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    cursor: pointer;
    font-weight: 900;
    background-color: #4894FF;
    margin-top: 20px;
}
#cre:hover {
    background-color: #0069FF;
}
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}
.modal-content {
    background-color: #fefefe;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
    text-align: center;
    border: 1px solid #888;
    width: 300px;
}
.modal-content h1 {
    font-family: 'Montserrat', sans-serif;
}
.modal-content h3 {
    text-align: left;
    margin-left: 10px;
}
.modal-content select {
    width: 280px;
    outline: none;
    border: 1px solid rgb(206, 206, 206);
    border-radius: 4px;
    padding: 10px;
    background-color: rgb(250, 250, 244);
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
}
.modal-content select:focus {
    border: 1px solid rgb(206, 206, 206);
}
.modal-content textarea {
    height: 80px;
    flex: 0 0 200px;
    width: 280px;
    background-color: rgb(250, 250, 244);
    resize: none;
    font-family: 'Montserrat', sans-serif;
    border-radius: 4px;
    font-size: 18px;
    border: 1px solid rgb(206, 206, 206);
    -webkit-transition: 0.5s;
    transition: 0.5s;
    padding-left: 5px;
    outline: none;
}
.modal-content input{
    height: 27px;
    font-family: 'Montserrat', sans-serif;
    flex: 0 0 200px;
    padding: 5px;
    background-color: rgb(250, 250, 244);
    border-radius: 3px;
    border: 1px solid rgb(206, 206, 206);
    width: 280px;
    margin-left: 10px !important;
    font-size: 18px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
    color: rgb(7, 0, 0);
}
::placeholder {
    font-family: 'Rubik', sans-serif;
}
#close {
    cursor: pointer;
    float: right;
}
#newdiv {
    display: inline-block;
    width: 300px;
    border: 1px solid black;
    border-radius: 12px;
    margin-left: 70px;
    margin-top: 30px;
}
#newdiv h1 {
    margin-left: 20px;
}
#newdiv p {
    margin-left: 20px;
    margin-right: 20px;
}
#newdiv h4 {
    margin-left: 20px;
}
#del {
    padding: 10px;
    margin-bottom: 20px;
    width: 250px;
    border-radius: 4px;
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 16px;
    border: none;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    cursor: pointer;
    margin-left: 20px;
    font-weight: 900;
    background-color: #4894FF;
}
#del:hover {
    background-color: #0069FF;
}
@media screen and (max-width: 800px) {
    #newdiv {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    #new {
        margin-top: 10px;
    }
    #hide1 {
        display: none;
    }
    #hide2 {
        display: none;
    }
    #hide3 {
        display: none;
    }
    nav ul {
        display: none;
    }
    #menu {
        display: block;
        margin-left: 160px;
        width: 60px !important;
    }
    #menu-ul {
        display: none;
        margin-right: auto;
        margin-left: auto;
        margin-top: 0px;
    }
    #ul {
        display: none;
    }
    .container {
        width: 10%;
    }
}